.question {
  display: none;
  background-color: #ffffff;
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #fff4e6;
  border-right: 1px solid #fff4e6;
}

.track {
  display: none;
}

body {
  background-color: #f9f9f9;

}

.container {
  max-width: 85%;
}

.jumbotron {
  background-size: 20%;
  background-color: #ffffff;
  background-image: url("../img/epicodus.png");
  background-repeat: no-repeat;

  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #fff4e6;
  border-right: 1px solid #fff4e6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbotron h1 {
  font-size: 3em;
  font-family: sans-serif;
  color: #665952;
  text-align: center;
}

.jumbotron p {
  font-size: 1em;
  font-family: monospace;
  color: #6d6d6d;
}

button {
  background-color: #3dc7cc !important;
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #fff4e6;
  border-right: 1px solid #fff4e6;
  font-family: sans-serif;
  color: #fff;
}

label {
  font-family: monospace;
  color: #6d6d6d;
}

.question p {
    font-family: monospace;
    margin-left: 5%;
    color: #6d6d6d;
}

.question h3 {
  border-bottom: 1px solid #665952;
  border-left: 3px solid #665952;
  background: linear-gradient(to right, #3dc7cc , #fff);
  color: #fff;
}

.question .radio {
  margin-left: 5%;
  color: #6d6d6d;
}

.question .form-group {
  margin-left: 5%;
}

input[type=text] {
    color: #6d6d6d;
    width: 50%;
}

.track {
  background-color: #ffffff;
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #fff4e6;
  border-right: 1px solid #fff4e6;
}

.track p {
    font-family: monospace;
    color: #6d6d6d;
}

.track h2 {
    font-family: monospace;
    color: #665952;
}

a {
  color: #6d6d6d;
  text-decoration: underline;
}
