.question {
  display: none;
  background-color: rgba(75,56,50, 0.8);
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #4b3832;
  border-right: 1px solid #4b3832;
}

.track {
  display: none;
}

body {
  background-color: #be9b7b;

}

.container {
  max-width: 85%;
}

.jumbotron {
  background-size: 20%;
  background-color: rgba(75,56,50, 0.8);
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #4b3832;
  border-right: 1px solid #4b3832;
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbotron h1 {
  font-size: 3em;
  font-family: sans-serif;
  color: #fff4e6;
}

.jumbotron p {
  font-size: 1em;
  font-family: monospace;
  color: #fff4e6;
}

button {
  background-color: #854442 !important;
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #4b3832;
  border-right: 1px solid #4b3832;
  font-family: sans-serif;
  color: #fff4e6;
}

label {
  font-family: monospace;
  color: #fff4e6;
}

.question p {
    font-family: monospace;
    margin-left: 5%;
    color: #fff4e6;
}

.question h3 {
  border-bottom: 1px solid #fff4e6;
  background-color: #854442;
  color: #fff4e6;
}

.question .radio {
  margin-left: 5%;
  color: #fff4e6;
}

.question .form-group {
  margin-left: 5%;
}

input[type=text] {
    background-color: #4b3832;
    color: #fff4e6;
    width: 50%;
}

.track {
  background-color: rgba(75,56,50, 0.8);
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #4b3832;
  border-right: 1px solid #4b3832;
}

.track p {
    font-family: monospace;
    color: #fff4e6;
}

.track h2 {
    font-family: monospace;
    color: #fff4e6;
}

a {
  color: #fff4e6;
  text-decoration: underline;
}

a:hover {
  color: #fff4e6;
  background-color: #854442;
  border-left: 1px solid #fff4e6;
  border-top: 1px solid #fff4e6;
  border-bottom: 1px solid #4b3832;
  border-right: 1px solid #4b3832;
}
