.question {
  display: none;
}

.track {
  display: none;
}

body {
  background-color: grey;

}

.container {
  max-width: 85%;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: 20%;
  BACK
}

.jumbotron h1 {
  font-size: 3em;
  font-family: sans-serif;
  border-left: 3px solid black;
}

.jumbotron p {
  font-size: 1em;
  font-family: monospace;
}

button {
  background-color: white !important;
  font-family: sans-serif;
}

label {
  font-family: monospace;
}

.question p {
    font-family: monospace;
    margin-left: 5%;
}

.question h3 {
  border-bottom: 1px solid black;
  background-color: lightgrey;
}

.question .radio {
  margin-left: 5%;
}

.track p {
    font-family: monospace;
}

.track h2 {
    font-family: monospace;
}
